@CHARSET "UTF-8";
/*全局样式*/
body,.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-6,.col-md-5,.col-md-4,.col-md-3,.col-md-2,.col-md-1,.container,.row,ul,li{padding:0px;}
body{font-size:16px;font-family:"微软雅黑","宋体","Arial Narrow",HELVETICA;color:#000;overflow-x:hidden;}
body,html,div,span,p,i,a,h1,h2,h3,h4,h5{font-style: normal;font-family:"微软雅黑","宋体","Arial Narrow",HELVETICA;font-size:16px;}
*{padding:0;margin:0;}
.clearfix {clear: both;}
.left{float:left;}
.right{float:right;}
.cursor{cursor: no-drop;color:#ccc !important;}
ul{margin-bottom:0;}
li{list-style: none;}
a {color: #333;text-decoration: none;outline: none;zoom: 1;}
a:focus, a:hover {text-decoration: none;}
.gmgs_width{width:1200px;margin:0 auto;}
.gm_redStart{color:red;font-size:18px;vertical-align: middle;line-height: 40px;}
.gmgs_startmargin{margin-left:10px;}
.gmgs_startpadding{padding-left: 20px!important;}
.form-horizontal .form-group{margin-left:0;margin-right:0;}

/* 头部  */
.gmgs_header {margin: 0;padding: 0;background: url(../../../img/imgPicture/hh_top_bj.png) no-repeat top center;}
.gmgs_header_top {background:rgba(204,204,204,0.2);height:30px;line-height:30px;}
.gmgs_header_left a img {margin:-3px 4px 0 0 ;width:18px;}
.gmgs_header_right span {margin:0 6px;}
.gmgs_header_right a {display:inline-block;}
.gmgs_share,.gmgs_user {display:inline-block;position: relative;}
.gmgs_user img {margin:-3px 4px 0 0 ;}
.gmgs_user .gmsuper_userset {position:absolute;right:0;top:29px;width:88px;background:#f3f5fa;z-index:999;box-shadow:2px 2px 2px #f3f5fa;}
.gmgs_user .gmsuper_userset a {font-size:14px;display:block;text-align:center;color:#5d5d5d;border-bottom:1px solid #ddd;height:auto;}
.gmgs_user .gmsuper_userset a:hover {background:#1c7eba;color:#fff;}
.gmgs_share img {margin:-3px 4px 0 0;}
.gmgs_sc img,.gmgm_user img {margin:-3px 4px 0 0;}
.gmgs_sc img,.gmgm_user b {font-weight:200;cursor: pointer;}
.gmgs_sharebox {background:#fff;position: absolute;top:22px;left: -35px;width: 152px;z-index: 99;padding-left: 10px;}

/* 头部背景  */
.gmgs_index_header{width:100%;height:216px;background:url(../../img/imgPicture/bg.png) top center no-repeat;}
.gmgs_index_header .gmgs_header_top{background: rgba(000, 000, 000,0.4);height: 30px;line-height: 30px;}
.gmgs_index_logo{margin-top:44px;}
.gmgs_index_logo a{display:inline-block;color:#fff;font-size: 38px;}
.gmgs_index_logo a img{width:100%;}
.gmgs_index_logo a.gmgs_address_name{color: #227ce4;-webkit-linear-gradient: (top,#000,#FFF);font-weight: 800;-webkit-linear-gradient: #000 #fff;background: -webkit-linear-gradient;background: -webkit-linear-gradient(top, #4cc7fb , #2669de);-webkit-background-clip: text;-webkit-text-fill-color: transparent;-webkit-text-stroke: 2px #FFF;font-family: "华文琥珀";}
.gmgs_index_header .gmgs_header_left a,.gmgs_index_header .gmgs_header_left a span{color:#fff;font-size:.725rem;}
.gmgs_index_header .gmgs_header_right a,.gmgs_index_header .gmgs_header_right a span{color:#FFF;font-size:.725rem;}

/* 内容分类  */
.gmgs_index_content{margin:50px auto 0 auto;}
.gmgs_index_content ul li{float:left;width:400px;height:190px;text-align:center;}
.gmgs_index_content ul li>a i{display:inline-block;margin: -77px 0 0 45px;width:85px;height:85px;background:url(../../../img/imgPicture/gmgs_index_icon.png) no-repeat;vertical-align: middle;}
.gmgs_index_content ul li a{transition:all .8s;-webkit-transition:all .8s;display:inline-block;width:400px;height:190px;border:2px solid transparent;}
.gmgs_index_content ul li a p{display:block;margin: 4px 0 0 0;width:70px;height:34px;font-size: 14px;line-height:34px;border:1px solid #eee;border-radius:4px;text-align:center;}
.gmgs_index_content ul li a:hover{border-color:rgba(127, 173, 202, 0.5);box-shadow:0px 0px 15px #79b7dc;border-radius: 6px;}
.gmgs_index_content ul li a:hover p{background:#1c7eba;color:#fff;border:1px solid #1c7eba;}
.gmgs_index_content ul li a h3{font-size:18px;font-weight: bold;}
.gmgs_index_content ul li a span{display:inline-block;color:#7f7f7f;width:140px;height: 33px;overflow: hidden;font-size:.725rem;}
.gmgs_index_cont_class{display:inline-block;text-align: left;width: 150px;margin: 22px 10px 0 10px;padding-left: 15px;}

/* 内容分类 -分类icon图   */
/* 办事指南 */
.gmgs_index_content ul li.gmgs_index_cont_bszn>a i{background-position:0px -119px;}
/* 便民中心 */
.gmgs_index_content ul li.gmgs_index_cont_bmzx>a i{background-position:0px 0px;}
/* 政务办公 */
.gmgs_index_content ul li.gmgs_index_cont_zwbg>a i{background-position:-107px -232px;}
/* 政策法规 */
.gmgs_index_content ul li.gmgs_index_cont_zcfg>a i{background-position:-107px -118px;}
/* 公示公告 */
.gmgs_index_content ul li.gmgs_index_cont_gsgg>a i{background-position:0px -232px;}
/* 网上大厅 */
.gmgs_index_content ul li.gmgs_index_cont_wsdt>a i{background-position:-107px  0px;} 

/* 适配   */
@media screen and (max-width: 1200px) {
    .gmgs_width{width:100%;}
    .gmgs_index_content ul li{width:33.33%;}
    .gmgs_index_content ul li a{width:100%;}
    .gmgs_index_logo a{font-size:2rem;}
    .gmgs_index_cont_class{width:30%;}
    .gmgs_index_content ul li a h3{font-size:1.125rem;}
    .gmgs_index_content ul li>a a i{width:100%;font-size:0.75rem;}
    .gmgs_index_content ul li>a i{width:55px;height:55px;background:url(../../../img/imgPicture/gmgs_index_ipadicon.png) no-repeat;}
    /* 办事指南 */
    .gmgs_index_content ul li.gmgs_index_cont_bszn>a i{background-position: 0px -72px;}
    /* 便民中心 */
    .gmgs_index_content ul li.gmgs_index_cont_bmzx>a i{background-position: 0px 0px;}
    /* 政务办公 */
    .gmgs_index_content ul li.gmgs_index_cont_zwbg>a i{background-position: -107px -140px;}
    /* 政策法规 */
    .gmgs_index_content ul li.gmgs_index_cont_zcfg>a i{background-position: -107px -72px;}
    /* 公示公告 */
    .gmgs_index_content ul li.gmgs_index_cont_gsgg>a i{background-position: 0px -140px;}
    /* 网上大厅 */
    .gmgs_index_content ul li.gmgs_index_cont_wsdt>a i{background-position: -107px  0px;}
}
@media screen and (max-width: 768px) {
	.gmgs_index_content ul li{width:50%;}
    .gmgs_index_content ul li a p{width: 60px;height: 26px;line-height: 24px;font-size: 12px;}
}






